extends layout.pug

block title
    title Recover password

block content
    h1 Password recovery

    form(action="/auth/createResetToken" method="POST")
        p Email address:  
            input(type="text" name="email") 
        p
            button(type="submit") Request password change!