extends layout.pug

block title
    title Reset password

block content
    h1 Reset your password

    form(action="/auth/resetPassword" method="POST")
        input(type="hidden" name="token" value=token)
        p Choose a new password:
            input(type="password" name="newPassword") 
        p Confirm new password:
            input(type="password" name="passwordConfirmation") 
        p
            button(type="submit") Reset password!